@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #d450d8;
    --color-symbol: #27293d;
    --text-white: #fffcff;
    --color-background: #1e1e2e;
    --color-gray: #778899;
    --color-green: #00FF99;
    --color-circle2: #2775f6;
    --color-circle3: #00c8d8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
} 
@keyframes progress {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
   
div.loading {
    position: fixed;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: -23px;
  }
   
div.bar {
    position: fixed;
    display: inline-flex;
    height: 20px;
    width: 500px;
    border: 1px solid green;
    background-color: transparent;
    border-radius: 1rem;
    justify-items: center;
    margin-left: calc(100%);
    margin-bottom: 3.5rem;
    align-items: center;
  }
   
div.bar::before {
    position: absolute;
    content: '';
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    transform-origin: left;
    background-color: #FA8072;
    animation: progress 15s infinite;
  }
   
div.bar::after {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'Our Journey...';
    text-align: center;
    mix-blend-mode: difference;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 2rem;
  }

div.bar img:first-child {
    position: fixed;
    display: inline-flex;
    margin-left: 28.5rem;
    margin-bottom: 0.6rem;
}

div.bar img:last-child {
    position: fixed;
    display: inline-flex;
    margin-left: -2rem;
    margin-bottom: 0.6rem;
}

div.bar img:last-child::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    transform-origin: left;
    animation: progress 15s infinite;
}

div.bar img:last-child::after {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'Our Journey...';
    text-align: center;
    mix-blend-mode: difference;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 2rem;
}